/*https://seik1224.github.io/web1/02/orange.html*/

html {
  background-image: url("/실습1/실습/orange-bg.png");
}
.box {
  background-color: white;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  padding: 20px;
  border-radius: 10%;
}
img {
  float: right;
}

.topnav {
  background-color: orange;
  width: 800px;
  height: 500px;
  padding: 20px;
  border-radius: 10%;
}
