/*
	11. 기본적인 이미지와 색상들 변경해주세요.

*/
body {
  background-image: url("/실습/images/straw-bg.png");
  background-size: cover;
}

.wrapper {
  border-color: red;
}

.wrapper .gnb {
  background-color: red;
}

.wrapper .title {
  color: red;
}

img {
  right: -130px;
  bottom: -150px;
}

.wrapper .food li {
  width: 220px;
  height: 220px;
  background-image: url(/실습/images/straw-food.png);
  float: left;
  text-indent: -9999999999999px;
}

.wrapper .food {
  border-top: 6px solid red;
  border-bottom: 6px solid red;
  margin-top: 20px;
  clear: both;
  position: relative;
}

.wrapper .food li.cake {
  background-position: left top;
}

.wrapper .food li.pie {
  background-position: center top;
}

.wrapper .food li.jam {
  background-position: right top;
}

/* .wrapper .food li.cake:hover {
  background-position: left bottom;
}

.wrapper .food li.pie:hover {
  background-position: center bottom;
}

.wrapper .food li.jam:hover {
  background-position: right bottom;
} */

.wrapper .food li:hover {
  background-position-y: bottom;
}
